.portfolio-title{
  background-color: #4aaaa5;
  color:#ffffff;
  text-align: center;
  font-weight: normal
}
.bg-green{
  background-color: #4aaaa5;
  color:#ffffff;
}
.heading-color{
  color: #4aaaa5;
}